# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
.venv/
venv/
env/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment Variables
.env

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints